{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
  <h1 class="text-5xl text-center text-green-600">Dashboard</h1>
  <div class="bg-slate-800 rounded-lg p-3 m-2 ">
    <p class="text-xl text-center text-yellow-400 my-5">
      {% with total_images_created=request.user.images_created.count %}
        Welcome to your dashboard.
        <br>
        You have bookmarked {{ total_images_created }} image{{ total_images_created|pluralize }}.
      {% endwith %}
      <br>
      Drag the following button to your bookmarks toolbar to bookmark images from other websites -> 

      <a href='javascript:{% include "images/bookmarker_launcher.js" %}' class="px-2 py-1 bg-green-800 hover:bg-green-600 whitespace-nowrap">Bookmark it</a>

      <br>
      You can also <a href="{% url "edit" %}" class="text-orange-500 hover:text-orange-400 hover:underline">edit your profile</a>
      or <a href="{% url "password_change" %}" class="text-orange-500 hover:text-orange-400 hover:underline">change your password</a>.
    </p>

    <h2 class="text-center text-green-600 text-3xl">What's happening</h2>
    <div id="action-list">
      {% for action in actions %}
        <div class="flex ">
          <div class="text-3xl place-self-center text-amber-400">{{ forloop.counter }}.</div> <div class="w-full">{% include "actions/action/detail.html" %}</div>
        </div>
      {% endfor %}
    </div>
  </div>
  

{% endblock content %}