{% extends "base.html" %}
{% load tailwind_filters %}

{% block title %}Create an account{% endblock title %}

{% block content %}
<h1 class="text-center text-2xl text-green-600">Create an account</h1>
<br>
<div class="bg-slate-800 rounded-2xl p-5 m-2">
  <p>Please, sign up using the following form:</p>
  <br>
  <form method="post">
    {% csrf_token %}
    <div class="text-teal-900">
      {{ form|crispy }}
    </div>
    <input type="submit" value="Create my account" class="text-center bg-green-600 hover:bg-green-400 px-3 py-2 rounded-lg">
  </form>
</div>
{% endblock content %}