{% extends "base.html" %}
{% load tailwind_filters %}

{% block title %}Change your password{% endblock title %}

{% block content %}
<div class="bg-slate-800 rounded-2xl p-5 m-2">
  <h1 class="text-center text-4xl text-green-600">Change your password</h1>
  <p class="text-xl">Use the form below to change your password.</p>
  <form method="post">
    {% csrf_token %}
    <div class="text-teal-900">
      {{ form|crispy }}
    </div>
    <input type="submit" value="Log in" class="text-center bg-green-600 hover:bg-green-400 px-3 py-2 rounded-lg">
  </form>
</div>
{% endblock content %}